.posts {
background-color: rgb(204, 209, 209);
padding: 10px;
margin-top: 10px;
border-radius: 10px;
}
.posts .post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts .post_header .post_headerLeft{
    display: flex;
    align-items: center;  
}
.posts .post_header .post_profile_dtl h3 {
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;
}
.posts .post_header .post_profile_dtl p {
 font-size: 12px;
    margin: 0px;
    margin-left: 10px;   
}
.post_body p {
    font-size: 14px;
    padding: 20px 0px;
}
.post_footer {
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}
.post_footer .post_footer_option {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}
.post_footer .post_footer_option svg {
    margin-right: 10px;
    color: #afacac;
}
.post_footer .post_footer_option span {
        color: #afacac;
        font-size: 12px;
}